<div class="container">
  <h2>CREATE AN ISSUE</h2>

  <ng-container>
    <form action="post">
      <div class="mainDiv">
        <input type="text" placeholder="Enter issue title" /><br />
        <input type="text" placeholder="Description" /><br />
        <input type="text" placeholder="Tags / Labels" /><br />
        <select name="dept" id="dept">
          <option value="">Select department</option>
          <option value="Testing">Testing</option></select
        ><br />
        <select name="issuetype" id="issuetype">
          <option value="">Select issuetype</option>
          <option value="Error">Error</option></select
        ><br />
        <select name="priority" id="priority">
          <option value="">Select priority</option>
          <option value="1">1</option></select
        ><br />
        <select name="assignto" id="assignto">
          <option value="">Select assignto</option>
          <option value="Sony">Sony</option></select
        ><br />
        <select name="statustype" id="statustype">
          <option value="">Select statustype</option>
          <option value="open">open</option></select
        ><br />
        <select name="severity" id="severity">
          <option value="">Select severity</option>
          <option value="HIGH">HIGH</option></select
        ><br />
        <button class="sbtBtn sbtBtn-primary" type="submit">SUBMIT</button>
      </div>
    </form>
  </ng-container>
</div>
