<div class="container">
  <h2>CREATE AN ISSUE</h2>

  <ng-container>
    <form action="post">
      <div class="mainDiv">
        <input
          type="text"
          placeholder="Enter issue title"
          (input)="onNameChange($event)"
        /><br />
        <input
          type="text"
          placeholder="Description"
          (input)="onDescChange($event)"
        /><br />
        <input
          type="text"
          placeholder="Tags / Labels"
          (input)="onLabelChange($event)"
        /><br />
        <select
          name="issuetype"
          id="issuetype"
          (change)="onIssuetypeChange($event)"
        >
          <option value="">Select issuetype</option>
          <option
            *ngFor="let issuetype of allIssueTypes"
            value="{{ issuetype.issueid }}"
          >
            {{ issuetype.issue }}
          </option></select
        ><br />
        <select
          name="statustype"
          id="statustype"
          (change)="onStatusChange($event)"
        >
          <option value="">Select statustype</option>
          <option
            *ngFor="let statustype of allStatusTypes"
            value="{{ statustype.sid }}"
          >
            {{ statustype.status }}
          </option></select
        ><br />
        <select
          name="priority"
          id="priority"
          (change)="onPriorityChange($event)"
        >
          <option value="">Select priority</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option></select
        ><br />
        <select
          name="severity"
          id="severity"
          (change)="onSeverityChange($event)"
        >
          <option value="">Select severity</option>
          <option
            *ngFor="let severitytype of allSeverityTypes"
            value="{{ severitytype.severityid }}"
          >
            {{ severitytype.severity }}
          </option></select
        ><br />
        <select name="dept" id="dept" (change)="onSelectDept($event)">
          <option value="">Select department</option>
          <option
            *ngFor="let department of userDepartments"
            value="{{ department }}"
          >
            {{ department }}
          </option></select
        ><br />
        <select
          name="assignto"
          id="assignto"
          (change)="onAssigneChange($event)"
        >
          <option value="">Select assignto</option>
          <option
            *ngFor="let user of UserUnderDeptArray"
            value="{{ user.empid }}"
          >
            {{ user.name }}
          </option></select
        ><br />
        <button class="sbtBtn sbtBtn-primary" type="submit" (click)="onSubmitClick($event)">SUBMIT</button>
      </div>
    </form>
  </ng-container>
</div>
