<form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
  <h1 class="form-title">Create User</h1>
  

  <label for="userName">Name<span class="required-star">*</span>:</label><br>
  <input type="text" id="userName" formControlName="userName"><br>
  <div *ngIf="userForm.controls['userName'].invalid && userForm.controls['userName'].touched">
    <span class="error-msg">Name is required.</span>
  </div>

  <label for="email">Email<span class="required-star">*</span>:</label><br>
<input type="text" id="email" formControlName="email"><br>
  <div *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">
    <span class="error-msg" *ngIf="userForm.controls['email'].errors?.['required']">Email is required.</span>
    <span class="error-msg" *ngIf="userForm.controls['email'].errors?.['maxlength']">Email should be less than 40 characters.</span>
    <span class="error-msg" *ngIf="userForm.controls['email'].errors?.['pattern']">Email should be in the format: example@domain.com</span>
  </div>
  
  <label for="mobileNumber">Phone<span class="required-star">*</span>:</label><br>
  <input type="text" id="mobileNumber" formControlName="mobileNumber"><br>
  <div *ngIf="userForm.controls['mobileNumber'].invalid && userForm.controls['mobileNumber'].touched">
    <span class="error-msg">Phone is required and should be 10 digits.</span>
  </div>

  <label for="gender">Gender<span class="required-star">*</span>:</label><br>
  <input type="radio" id="gender-male" formControlName="gender" value="male">Male
  <input type="radio" id="gender-female" formControlName="gender" value="female">Female
  <input type="radio" id="gender-others" formControlName="gender" value="others">Others<br>
  <div *ngIf="userForm.controls['gender'].invalid && userForm.controls['gender'].touched">
    <span class="error-msg">Gender is required.</span>
  </div><br>
  

  <label for="role">Role<span class="required-star">*</span>:</label><br>
  <select name="dept" id="dept">
    <option value="">Select department</option>
    <option
      *ngFor="let department of userDepartments"
      value="{{ department }}">
      {{ department }}
    </option></select><br/>

  <!-- <label for="is-active">Is Active:</label><br>
  <input type="radio" id="is-active-yes" formControlName="isActive" value="true" checked>Yes
  <input type="radio" id="is-active-no" formControlName="isActive" value="false">No<br> -->

  <button type="submit">Save and Close</button>
  <button type="button" (click)="onCancel()">Cancel</button>
</form>
