form {
  margin: 0 auto;
  width: 40%;
  height: 50%;
  padding: 15px;
  border: 1px solid #496cb6;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #ccc;
  background-color: rgba(153, 189, 221, 0.8);
  margin-top: 100px;
}
.required-star{color: #f44336;}

label {
  margin-top: 10px;
  display: block;
  /* margin-bottom: 5px; */
  font-weight: bold;
}
.error-msg{color: #f44336;}
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

input[type="radio"] {
  margin-right: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button[type="button"] {
  background-color: #f44336;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button[type="submit"]:not(:disabled):hover {
  background-color: #3e8e41;
}

button[type="button"]:hover {
  background-color: #f44336;
}


select {
  height: calc(1.5em + 1.25rem + 2px);
}

input[type=radio] {
  margin-right: 0.5rem;
}

.form-group {
  margin-bottom: 1rem; /* decrease margin bottom */
  padding: 0.3rem; /* decrease padding */
  background-color: #fff;
  border-radius: 3px; /* decrease border radius */
}

button[type=submit], button[type=button] {
  padding: 0.3rem 0.7rem; /* decrease padding */
  border-radius: 3px; /* decrease border radius */
  margin-top: 0.5rem; /* decrease margin top */
}

button[type=submit] {
  background-color: #0066cc; /* change background color */
  border-color: #0066cc; /* change border color */
  color: #fff;
}

button[type=submit]:hover, button[type=button]:hover {
  cursor: pointer;
}

button[type=button] {
  background-color: #fff;
  border-color: #999; /* change border color */
  color: #999; /* change text color */
  margin-left: 0.5rem; /* decrease margin left */
}
