.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin: 0;
  text-shadow: 2px 2px 5px #888;
  color: #007bff;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.col-sm-4 {
  flex-basis: 30%;
}

.btn {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
  color: #fff;
}
.logo {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  background-color: #f1f1f1;
  border-radius: 50%;
  padding: 10px;
  width: 80px;
  height: 80px;
  object-fit: contain;
  height: 60px;
  margin-right: 20px;
}

.header {
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  padding: 20px;
}




