<div class="container">
    <div class="header">
    <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/website-bug-tracking-1819337-1544052.png" alt="Bug Tracking Tool Logo" class="logo">
    <h1>Glitch Guard tool</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <button class="btn btn-primary" routerLink="/create-user">Create a User</button>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-primary" routerLink="/create-issue">Create an Issue</button>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-primary" routerLink="/create-project">Create a Project</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <button class="btn btn-primary" routerLink="/users">View Users</button>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-primary" routerLink="/issues">View Issues</button>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-primary" routerLink="/projects">View Projects</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
