<div class="container">
  <h2>ALL ISSUES</h2>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>description</th>
        <th>Projects</th>
        <th>Assigned to</th>
        <th>Priority</th>
        <th>Severity</th>
        <th>Issue</th>
        <th>Tags</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <!-- Add a row for each user using an *ngFor loop -->
      <tr *ngFor="let issue of allissues">
        <td>{{ issue.createissueid }}</td>
        <td>{{ issue.Title }}</td>
        <td>{{ issue.description }}</td>
        <td>{{issue.project}}</td>
        <td>{{ issue.assigne }}</td>
        <td>{{ issue.priority }}</td>
        <td>{{ issue.severity }}</td>
        <td>{{ issue.issue }}</td>
        <td>{{ issue.label }}</td>
        <td>{{ issue.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
